# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# BlueShell extension repositories
src/extensions/*

# BlueShell machine config
machine_config.ps1